<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href="index.css" rel="stylesheet" />
<script src="signinsignup.js"></script>
<title>Untitled Document</title>
</head>

<body>
<div id="content">
<h1>Welcome</h1>
<div id="signin">
<h2>Sign In</h2>
<form name="patientsignin" action="http://www.1medcloud.com/1medcloud/default/mobile_user_login" method="post">
<table>
<tr><td><input class="inputtext" type="email" name="email" placeholder="Email"/></td></tr>
<tr><td><input class="inputtext" type="password" name="password" placeholder="Password"/></td></tr>
<tr><td><button onClick="psignin()">Sign In</button></td></tr>
</table>
</form>
</div>
<div id="signup">
<h2>Join today!</h2>
<form name="patientsignup" action="http://www.1medcloud.com/1medcloud/default/mobile_user_register" method="get">
<table>
<tr><td><input class="inputtext" type="email" name="email" placeholder="Enter your Email" /></td></tr>
<tr><td><input class="inputtext" type="password" name="password" placeholder="Password" /></td></tr>
<tr><td><input class="inputtext" type="password" name="repeatpassword" placeholder="Repeat Your Password" /></td></tr>
<tr><td><input class="inputtext" name="firstname" placeholder="First Name" /></td></tr>
<tr><td><input class="inputtext" name="username" placeholder="Middle Initial" /></td></tr>
<tr><td><input class="inputtext" name="lastname" placeholder="Last Name" /></td></tr>
<tr><td><button onClick="psignup()">Sign Up</button></td></tr>
</table>
</form>
</div>
</div>
</body>
</html>